body{
    background: gray;
}
.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.movies li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    
    background: #272727;
}

.movies li img {
    max-width: 450px;
    border-radius: 12px;
}
.movies li h2{
    color: black;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family: "Oswald",sans-serif;
}
.card{
    background-color: whitesmoke;
}
